@import '~@angular/material/theming';

@include mat-core();

$angular-sandbox-palette-dark-blue: (50 : #e0eefd,
  100 : #b3d5fb,
  200 : #80baf8,
  300 : #4d9ef5,
  400 : #2689f2,
  500 : #0074f0,
  600 : #006cee,
  700 : #0061ec,
  800 : #0057e9,
  900 : #0044e5,
  A100 : #ffffff,
  A200 : #d9e2ff,
  A400 : #a6baff,
  A700 : #8ca7ff,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  ));

$angular-sandbox-palette-orange: (50 : #fdefe0,
  100 : #fbd8b3,
  200 : #f8be80,
  300 : #f5a34d,
  400 : #f29026,
  500 : #f07c00,
  600 : #ee7400,
  700 : #ec6900,
  800 : #e95f00,
  900 : #e54c00,
  A100 : #ffffff,
  A200 : #ffe3d9,
  A400 : #ffbea6,
  A700 : #ffab8c,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  ));

$angular-sandbox-app-primary: mat-palette($angular-sandbox-palette-dark-blue);
$angular-sandbox-app-accent: mat-palette($angular-sandbox-palette-orange);

$angular-sandbox-app-theme: mat-light-theme((color: (primary: $angular-sandbox-app-primary,
      accent: $angular-sandbox-app-accent)));

@include angular-material-theme($angular-sandbox-app-theme);

$angular-sandbox-typography: mat-typography-config($font-family: 'Poppins, monospace',
  /* h4 */
  $subheading-1: mat-typography-level(18px, 26px, 400),
  $body-1: mat-typography-level(16px, 24px, 400));

@include angular-material-typography($angular-sandbox-typography);