.grid {
  margin-top: 15px;

  .tile {
      margin-left: 20px;
      margin-right: 20px;
    .selectors {
      display: flex;
      flex-direction: column;
      width: 100%;

      > app-generic-selector {
        margin-top: 40px;
        margin-bottom: 40px;
        width: 100%;
      }
    }
  }
}
