<app-nav-menu></app-nav-menu>
<div class="grid">
  <div class="tile">
    <h4 class="title">Drowning in Data</h4>
    <div>
      <h5 class="title">Fund Selector</h5>
      <div class="fund-selector">
        <app-generic-selector
          [itemNameSingular]="'Fund'"
          [itemNamePlural]="'Funds'"
          [items]="funds"
        ></app-generic-selector>
      </div>
      <h5 class="title">Further Applications</h5>
      <div class="generic-selectors">
        <app-generic-selector
          [itemNameSingular]="'Date'"
          [itemNamePlural]="'Dates'"
          [chipColour]="'#EC484F'"
          [items]="availableDates"
        >
        </app-generic-selector>
        <app-generic-selector
          [itemNameSingular]="'Type'"
          [itemNamePlural]="'Types'"
          [chipColour]="'#74B54C'"
          [items]="fundTypes"
        >
        </app-generic-selector>
      </div>
    </div>
  </div>
</div>
