<app-nav-menu></app-nav-menu>
<div class="grid">
  <div class="tile">
      <div class="selectors">
        <app-generic-selector
          [itemNameSingular]="'Fund'"
          [itemNamePlural]="'Funds'"
          [items]="funds"
        ></app-generic-selector>
        <app-generic-selector
        [itemNameSingular]="'Date'"
        [itemNamePlural]="'Dates'"
        [chipColour]="'#EC484F'"
        [items]="availableDates"
      >
      </app-generic-selector>
      <app-generic-selector
        [itemNameSingular]="'Type'"
        [itemNamePlural]="'Types'"
        [chipColour]="'#74B54C'"
        [items]="fundTypes"
      >
      </app-generic-selector>
      </div>
  </div>
</div>
