.grid {
  margin-top: 15px;

  .tile {
    .title {
      margin-left: 15px;
    }

    .fund-selector {
      margin-top: 25px;
      margin-bottom: 25px;
    }

    .generic-selectors {
      display: flex;
      justify-content: center;
      width: 100%;
      margin-top: 25px;
      margin-bottom: 25px;

      > app-generic-selector {
        width: 100%;
      }
    }
  }
}
