<div class="fund-selector">
  <mat-form-field class="fund-form-field">
    <mat-label>Funds</mat-label>
    <mat-chip-list #chipList aria-label="Select a Fund">
      <mat-chip *ngFor="let fund of selectedFunds" [selectable]="selectable" [removable]="removable"
        (removed)="remove()">
        {{fund.symbol}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input [placeholder]="'Select a Fund'" #fundInput [formControl]="fundControl" [matAutocomplete]="auto"
        [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      <mat-option *ngFor="let fund of filteredFunds | async" [value]="fund">
        {{fund.name}} ({{fund.symbol}})
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>