<div class="generic-selector">
  <mat-form-field class="form-field">
    <mat-label>{{ itemNamePlural }}</mat-label>
    <mat-chip-list #chipList>
      <mat-chip
        class="chip"
        [style.background-color]="chipColour"
        *ngFor="let item of selectedItems"
        [ariaOrientation]="horizontal"
        [selectable]="selectable"
        [removable]="removable"
        (removed)="removeClickedItem(item)"
      >
        {{ item.shortName }}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input
        #chipInput
        [formControl]="genericSelectorControl"
        [matAutocomplete]="genericSelectorAutocomplete"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="addTypedItem($event)"
        (click)="onChipInputClick($event)"
        (paste)="paste($event)"
      />
      <button
        class="more-button"
        matTooltip="More"
        [matTooltipPosition]="'right'"
        mat-icon-button
        [style.visibility]="selectedItems.length > 2 ? 'visible' : 'hidden'"
        (click)="toggleSelectedItemsListVisibility()"
        aria-label="More"
      >
        <mat-icon>more_horiz</mat-icon>
      </button>
    </mat-chip-list>
    <mat-autocomplete
      #genericSelectorAutocomplete="matAutocomplete"
      (optionSelected)="addClickedItem($event)"
    >
      <mat-option *ngFor="let item of filteredItems | async" [value]="item">
        {{ item.longName }}
      </mat-option>
    </mat-autocomplete>
    <div
      [style.visibility]="selectedItemsListVisible ? 'visible' : 'hidden'"
      class="selected-items-list-panel"
    >
      <button
        class="close-button"
        matTooltip="Close"
        [matTooltipPosition]="'right'"
        mat-icon-button
        (click)="toggleSelectedItemsListVisibility()"
        aria-label="Close"
      >
        <mat-icon>close</mat-icon>
      </button>
      <mat-selection-list
        class="selection-list"
        (selectionChange)="onSelectedItemsListSelectionChange($event)"
      >
        <mat-list-option
          [selected]="true"
          [value]="item"
          [checkboxPosition]="'before'"
          *ngFor="let item of selectedItems"
        >
          {{ item.longName }}
        </mat-list-option>
      </mat-selection-list>
    </div>
  </mat-form-field>
</div>
