.stockPriceListComponent .header {
  font-size: 24px;
  color: #FFFFFF;
  background-color: #337AB7;
  display: flex; }

.stockPriceListComponent .header > div {
  flex-grow: 1; }

.stockPriceListComponent .stockPriceListTable {
  display: block;
  height: 65vh;
  overflow-y: scroll;
  width: 100%; }

.stockPriceListComponent .stockPriceListTable tr th, .stockPriceListComponent .stockPriceListTable tr td {
  width: 90%; }

.stockPriceListComponent .stockPriceListTable td {
  font-weight: bold !important; }

.stockPriceListComponent .stockPriceListTable th {
  font-weight: normal !important; }
